<!-- views/partials/footer.ejs -->
<div class="f-bg">
  <div class="f-links">
      <div class="left-list text-center">
          <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Mission Statement</a></li>
            </ul>
      </div>
      <div class="left-middle-list text-center">
        <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Support</a></li>
        </ul>
      </div>
      <div class="right-middle-list text-center">
        <ul>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Your Ideas</a></li>
        </ul>
      </div>
      <div class="right-list text-center">
          <ul>
              <li><a href="#">Resource Center</a></li>
              <li><a href="#">Activity Ideas</a></li>
            </ul>
      </div>
  </div>
  <p class="text-center text-muted">© Copyright 2019 Dennis Bingham</p>
</div>
