<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Activity Tracker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse .navbar-brand {
      color: #FFFFFF;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #FFFFFF;
    }
    p {font-size: 16px;}

    .margin {margin-bottom: 45px;}
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
      }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
      }
    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
      }
    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
    .container-fluid-1 {
        padding-top: 70px;
        padding-bottom: 70px;
      }

  </style>
