<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Activity Tracker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse .navbar-brand {
      color: #FFFFFF;
    }
    .navbar-inverse .navbar-toggle {
      border-color: #008CFF;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: #00D619;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #FFFFFF;
    }
    p {font-size: 16px;}

    .margin {margin-bottom: 45px;}
    .bg-1 {
        background-color: #FFFFFF; /* Green */
        color: #1abc9c;
      }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
      }
    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
      }
    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
    .container-fluid-1 {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .f-bg {
        background-color: #FFFFFF;
      }
      ul {
        list-style-type: none;
      }
      ul a {
        text-decoration: none;
        color: #777777;
      }
      ul a:hover {
        text-decoration: none;
        color: #1abc9c;
      }
      .f-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 15px -16px;
      }
      .left-list {
        width: 25%;
        height: auto;
      }
      .left-middle-list {
        width: 25%;
        height: auto;
      }
      .right-middle-list {
        width: 25%;
        height: auto;
      }
      .right-list {
        width: 25%;
        height: auto;
      }
      .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .card {
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        height: 300px;
        background: linear-gradient(231deg, #0048ff, #00ff95, #00D619);
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px #00c3ff8f;
        color: #000000;
      }

      /* entire container, keeps perspective */
      .flip-container {
        perspective: 1000px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
        /* flip the pane when hovered */
        .flip-container:hover .flipper, .flip-container.hover .flipper {
          transform: rotateY(180deg);
        }

      .flip-container, .front, .back {
        width: 320px;
        height: 480px;
      }

      /* flip speed goes here */
      .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
      }

      /* hide back of pane during swap */
      .front, .back {
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
      }

      /* front pane, placed above back */
      .front {
        /* for firefox 31 */
        display: grid;
        justify-items: center;
        align-items: center;
        transform: rotateY(0deg);
        background-color: #0048FF;
        box-shadow: 5px 5px 10px 1px #0077ff8f;
        border-radius: 5px;
        color: #FFFFFF;
      }

      /* back, initially hidden pane */
      .back {
        display: grid;
        justify-items: center;
        align-items: center;
        transform: rotateY(180deg);
        background: linear-gradient(231deg, #0048ff, #00ff95, #00D619);
        box-shadow: 5px 5px 10px 1px #00c3ff8f;
        border-radius: 5px;
        color: #000000;
      }

      form {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .btn-submit {
        background-color:#0048ff;
        border-radius: 5px;
        border: 1px solid #0048ff;
        color: #FFFFFF;
      }
      .btn-submit:hover {
        background: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #00D619;
        color: #00D619;
      }
      .btn-reset {
        background-color:#b000e6;
        border-radius: 5px;
        border: 1px solid #b000e6;
        color: #FFFFFF;
      }
      .btn-reset:hover {
        background: #FFFFFF;
        border-radius: 5px;
        border: 1px solid #ff0077;
        color: #ff0077;
      }

  </style>
