<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Activity Tracker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse {
      background: linear-gradient(90deg, #0048ff, #008CFF, #00D619);
      border: none;
    }
    .navbar-inverse .navbar-brand {
      color: #FFFFFF;
    }
    .navbar-inverse .navbar-toggle {
      border-color: #008CFF;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
      background-color: #00D619;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #FFFFFF;
    }
    p {font-size: 16px;}

    .margin {margin-bottom: 45px;}
    .bg-1 {
        background-color: #FFFFFF; /* Green */
        color: #1abc9c;
      }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
      }
    .bg-3 {
        background-color: #ffffff; /* White */
        color: #555555;
      }
    .bg-4 {
        background-color: #2f2f2f; /* Black Gray */
        color: #fff;
      }
    .container-fluid-1 {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .f-bg {
        background-color: #FFFFFF;
      }
      ul {
        list-style-type: none;
      }
      ul a {
        text-decoration: none;
        color: #777777;
      }
      ul a:hover {
        text-decoration: none;
        color: #1abc9c;
      }
      .left-list {
        float: left;
        width: 50%;
      }
      .right-list {
        float: right;
        width: 50%;
      }
      .card-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .card {
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 250px;
        height: 300px;
        background: linear-gradient(231deg, #0048ff, #00ff95, #00D619);
        border-radius: 5px;
        box-shadow: 5px 5px 10px 1px #00c3ff8f;
        color: #000000;
      }

  </style>
