<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Activity Tracker</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
