<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container-fluid-1 bg-1 text-center">
      <h1>Welcome to Activity Tracker</h1>
      <div class="card-container">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Plan Activities</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Message Group</p>
                    </div>
                    <div class="back">
                        <p>back</p>
                    </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Message Individuals</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
        </div>
      <div class="card-container">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>View Items At A Glance</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Setup Groups</p>
                    </div>
                    <div class="back">
                        <p>back</p>
                    </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Join Groups</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
        </div>
      <div class="card-container">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>View Service Projects</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Contact Leaders</p>
                    </div>
                    <div class="back">
                        <p>back</p>
                    </div>
              </div>
          </div>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                  <div class="front">
                      <p>Other</p>
                  </div>
                  <div class="back">
                      <p>back</p>
                  </div>
              </div>
          </div>
        </div>
  </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
