<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
      <form class="form-horizontal" action="">
        <div class="form-group">
          <label class="control-label col-sm-2" for="fname">First Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="John">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lname">Last Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="lname" placeholder="Doe">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="cpwd">Confirm Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="cpwd" placeholder="Enter password">
            </div>
          </div>
          <div class="button-stack">
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-submit">SIGN UP</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="reset" class="btn btn-reset">CANCEL</button>
                  </div>
                </div>
          </div>
      </form>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
